.text-section
    margin: 0
    padding: 0
    text-align: center
    &__book
        width: 900px
        min-height: 1000px
    &__result
        position: fixed
        top: 30px
        right: 100px
        

